@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Home</h1>

    <ul class="horizontal_list">
        <li>
            <a href="ClickableBarChart/ClickableBar/">clickable bar chart: click on the bars and get more infos</a>
        </li>
    </ul>

</div>
